@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Paytone+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    #root {
        width: 100vw;
        height: 100vh;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}